{% extends "base.html" %}

{% block content %}
  <h1>Cars</h1>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Model</th>
      <th>Manufacturer</th>
    </tr>
    </thead>
    <tbody>
    {% for car in object_list %}
      <tr>
        <td><a href="{% url 'taxi:car-detail' pk=car.pk %}">{{ car.id }}</a></td>
        <td>{{ car.model }}</td>
        <td>{{ car.manufacturer.name }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% include "includes/pagination.html" %}
{% endblock %}
