{% extends "base.html" %}

{% block content %}
<h1>Drivers</h1>
<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>License Number</th>
        </tr>
    </thead>
    <tbody>
        {% for driver in object_list %}
        <tr>
            <td><a href="{% url 'taxi:driver-detail' pk=driver.pk %}">{{ driver.username }}</a></td>
            <td>{{ driver.license_number }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "includes/pagination.html" %}
{% endblock %}
